<div id="panel">
  <div class="editContent">
     <h2><%= @blog.title %></h2>
     <p><%= @blog.content %></p>
     <div class="testimonial">
     <table>
        <% @comments.each do |comment| %>
          <tr>
            <td class="testimonial_visitor">
              <%= comment.visitor %>

            </td>
            <td>
              <%= comment.content %>
            </td>
          </tr>
        <% end %>
     </table>
  </div>
    <%= form_for @comment, :url => { :controller => 'comments', :action => 'create'} do |f| %>

      <div class="field COMMENT">
        Your Comment<br />
        <%= f.text_area :content %>
      </div>
        <div class="field COMMENT">
        Your Nickname<br />
        <%= f.text_field :visitor %>
      </div>
      <div visible = false CLASS="COMMENT">
        Blog_id<br/>
        <%= f.text_field :blog_id%>
      </div>
      <div class="actions" CLASS="COMMENT_BTN">
          <%= f.submit %>

      </div>

    <% end %>
</div>
