<div id="panel">

  <div class="editContent">
    <div class="testImonial">
      <h2><%= @blog.title %></h2>
      <p><%= @blog.content %></p>
      <div id="comments">
         <%= render @comments %>
      </div>
    </div>
    <%= form_for [@blog,@comment] , :remote => true do |f| %>
        <div class="field comment">Your Comment<br />
          <%= f.text_area :content %>
        </div>
        <div class="field comment">Your Nickname<br />
          <%= f.text_field :visitor %>
        </div>
        <div class="actions" CLASS="comment_btn">
          <%= f.submit %>
        </div>
    <% end %>
  </div>
</div>