<div id="mainWrap">
<div id="mainPanel">
  <div id="logoWrap">

  <div id="leftPanel">
   <div class="editContent">
    <h2>New blog</h2>
    <%= form_for @newblog, :url => { :controller => 'admin', :action => 'create'} do |f| %>

    <%= f.label :title %><br />
    <%= f.text_field :title %><br/>
    <%= f.label :content %><br />
    <%= f.text_area :content %><br />
    <div align="right"><%= f.submit "CREATE" %></div>
     <% end %>
   </div>
      <div class="date" align="right">

      <%= link_to "logout",:action => "logout" %>
     <div align="right"> </div>

    </div>

  </div>
  <div id="rightPanel">
   <div class="project">
    <h2>Blog Link</h2>
    <ul>
    <% for blog in @blog %>
  
    <li><%=h blog.title %></li>   
        <% end %>
    </ul><br/>

   </div>

  </div>
  <div id="footPanel">
    <div class="copyright">© Copyright Information Goes Here. All Rights Reserved.</div>
  </div>
 </div>

 </div>


